<%= link_to 'Add a new artist', artists_new_path %>
<h2>Current Artists:</h2>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= artist.full_name %>
      <%= artist.home_town %>
      <%= artist.current_hairstyle %>
    </li>
  <% end %>
<ul>