<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Optimal Volume:</strong>
  <%= @song.optimal_volume %>
</p>

<p>
  <strong>Song's Artist:</strong>
  <%= @song.artist.full_name %>
</p>